{% extends 'base.html' %}

{% block header_title %}ARCOS TRIBUTOS{% endblock %}

{% block header_nav %}
    <a href="#" class="active">Dashboard</a>
    <a href="#">Simulador RT</a>
    <a href="#">Configurações</a>
{% endblock %}

{% block content %}


    <div class="main-container">
        <div class="welcome-banner">
            <h1>Bem-vindo ao Portal Corporativo</h1>
            <p>Selecione abaixo o módulo que deseja acessar.</p>
        </div>

        <div class="systems-grid">
            <div class="system-card card-sompo">
                <div class="card-body">
                    <span class="status-badge" style="background: #ffebeb; color: #d92525;">Prioritário</span>
                    <div class="card-icon" style="color: #d92525;"><i class="fas fa-calculator"></i></div>
                    <div class="card-title">Tributos PIS/COFINS</div>
                    <div class="card-desc">Sistema dedicado de cálculo e apuração de PIS/COFINS e PSL, com abertura analítica por ramo de atividade.
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fa-solid fa-lock"></i>
                    <a class="btn-access">Acessar Sistema</a>
                </div>
            </div>

            <div class="system-card card-dere">
                <div class="card-body">
                    <span class="status-badge" style="background: #fff3cd; color: #856404;">Seguradoras</span>
                    <div class="card-icon" style="color: #ba8e23;">
                        <i class="fa-solid fa-clipboard"></i>
                    </div>
                    <div class="card-title">DERE</div>
                    <div class="card-desc">Declaração Eletrônica de Regimes Específicos.</div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'dere' %}" class="btn-access">Acessar Sistema</a>
                </div>
            </div>

            <div class="system-card card-iva">
                <div class="card-body">
                    <span class="status-badge" style="background: #e3f9ea; color: var(--arcos-green);">Ativo</span>
                    <div class="card-icon" style="color: var(--arcos-green);"><i class="fa-solid fa-dollar-sign"></i></div>
                    <div class="card-title">Arcos IVA Tax Dual</div>
                    <div class="card-desc">Simulador de apuração de IBS e CBS. Gestão de créditos, operações de consumo e dashboard de conformidade.</div>
                </div>
                <div class="card-footer"><!--                    <i class="fa-solid fa-unlock"></i>-->
                    <a href="{% url 'operacoes' %}" class="btn-access">Acessar Sistema</a>
                </div>
            </div>

            <div class="system-card card-nfe">
                <div class="card-body">
                    <span class="status-badge" style="background: #e6f2ff; color: #007bff;">Módulo Conjunto</span>
                    <div class="card-icon" style="color: #007bff;"><i class="fas fa-cloud-download-alt"></i></div>
                    <div class="card-title">Gestor de NF-e</div>
                    <div class="card-desc">Captura automática e armazenamento de Notas Fiscais Eletrônicas.</div>
                </div>
                <div class="card-footer"><!--<i class="fa-solid fa-unlock"></i>-->
                    <a href="{% url 'captura'%}" class="btn-access">Acessar Sistema</a>
                </div>
            </div>

            <div class="system-card card-nfe">
                <div class="card-body">
                    <span class="status-badge" style="background: #e6f2ff; color: #007bff;">Módulo Conjunto</span>
                    <div class="card-icon" style="color: #007bff;"><i class="fas fa-cloud-upload-alt"></i></div>
                    <div class="card-title">Emissor de NF-e</div>
                    <div class="card-desc">Emissão de Notas Fiscais Eletrônicas diretamente para a Receita Federal.</div>
                </div>
                <div class="card-footer"><i class="fa-solid fa-lock"></i>
                    <a href="{% url 'home'%}" class="btn-access">Acessar Sistema</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}