{% extends "base.html" %}

{% block title %}Débitos para Pagamento{% endblock %}

{% block content %}
    <h1>Débitos selecionados para serem pagos</h1>
    
    <div class="grid-2">
        <div class="field-group">
            <label class="field-title">Data de Pagamento</label>
            <input type="date" value="30/04/2025" class="data-card">
        </div>
        <div class="field-group">
            <label class="field-title">Data de Vencimento</label>
            <input type="date" value="30/05/2025" class="data-card">
        </div>
    </div>

    <hr>

    <h2>Resumo de Valores</h2>
    <div style="display: flex; gap: 20px; justify-content: space-between;">
        <div class="field-group"><label class="field-title">Valor Total de Principal</label><div class="data-card">{{ valor_total_pagar }}</div></div>
        <div class="field-group"><label class="field-title">Valor Total de Juros</label><div class="data-card">R$ 0,00</div></div>
        <div class="field-group"><label class="field-title">Valor Total de Multa</label><div class="data-card">R$ 0,00</div></div>
        <div class="field-group" style="background-color: #d4edda;"><label class="field-title">Valor Total a Pagar</label><div class="data-card">{{ valor_total_pagar }}</div></div>
    </div>

    <hr>

    <h2>Detalhamento do Débito</h2>
    <table border="1" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr style="background-color: #eee;">
                <th>Documento Fiscal</th>
                <th>Valor Principal</th>
                <th>Valor Juros</th>
                <th>Valor Multa</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Apólice 1001 </td><td>{{ doc_1001 }}</td><td>-</td><td>-</td><td>{{ doc_1001 }}</td></tr>
            <tr><td>Apólice 1002 </td><td>{{ doc_1002 }}</td><td>-</td><td>-</td><td>{{ doc_1002 }}</td></tr>
            <tr><td>Apólice 1003 </td><td>{{ doc_1003 }}</td><td>-</td><td>-</td><td>{{ doc_1003 }}</td></tr>
            <tr><td>Apólice 1004 </td><td>{{ doc_1004 }}</td><td>-</td><td>-</td><td>{{ doc_1004 }}</td></tr>
            <tr><td>Apólice 1005 </td><td>{{ doc_1005 }}</td><td>-</td><td>-</td><td>{{ doc_1005 }}</td></tr>

            <tr>
                <td>Receita Financeira</td>
                <td>{{ receita_financeira }}</td>
                <td>-</td>
                <td>-</td>
                <td>{{ receita_financeira }}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-top: 15px; display: flex; justify-content: space-between;">
        <span>Exibindo 6 de 6 itens</span>
        <span>Página 1</span>
    </div>

    <div style="text-align: right; margin-top: 30px;">
        <a href="{% url 'operacoes' %}" class="btn btn-danger">Cancelar</a>
        <a href="{% url 'operacoes' %}"><button  class="btn btn-success">Gerar DARF</button></a>
    </div>
{% endblock %}